
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');


body{
    font-family: "DM Sans", system-ui;

}
@media only screen and (max-width: 1440px) {
    *{
        box-sizing: border-box;
    }
    .container div{
        font-size: 20px;
        padding: 50px;
     
      
    }
    .container img{
        width: 200px;
    }
    .main div{
        margin: 0;
        padding: 0;
    }
}
@media only screen and (max-width: 375px) {
    /* body{
        background-color: red;
    } */
    .container div{
        display: block;
        margin: 10px;
    }
}